@model CompanyViewModel

<div ng-app="Company" class="row"> 
   <form asp-controller="Company" asp-action="AddCompany" method="post" class="form-horizontal" ng-controller="AddCompanyController">
       <div class="form-group">
           <label asp-for="@Model.Adress"></label>
       </div>
   </form>
</div>   